header {
	height: 100vh;
	padding-top: 7rem;
	overflow: hidden;
}

.header__container {
	text-align: center;
	height: 100%;
	position: relative;
}

/*h1 {
	background: linear-gradient(
		to right,
		hsl(0, 0%, 100%) 0,
		hsl(14, 94%, 69%) 20%,
		hsl(0, 0%, 100%) 20%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 5s infinite linear;
	padding: 0 60px;
}
@keyframes shine {
	0% {
		background-position: 0;
	}
	60% {
		background-position: 800px;
	}
	100% {
		background-position: 800px;
	}
}
*/
.text-animated {
	display: inline-block;
	letter-spacing: 4px;
	border-right: 2px solid var(--color-light);
	animation: typewriter 5s steps(34), blinkTextCursor 0.5s infinite;
	white-space: nowrap;
	overflow: hidden;
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 465px;
	}
}
@keyframes blinkTextCursor {
	from {
		border-right-color: var(--color-light);
	}
	to {
		border-right-color: transparent;
	}
}
/*======== CTA==== */

.cta {
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}

/*======== Socials==== */

.header__socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	position: absolute;
	left: 0;
	bottom: 3rem;
}

.header__socials::after {
	content: '';
	width: 1px;
	height: 2rem;
	background: var(--color-primary);
}

/*======== Image - ME ==== */

.me {
	background: linear-gradient(var(--color-primary), transparent);
	width: 22rem;
	height: 30rem;
	position: absolute;
	left: calc(50% - 11rem);
	margin-top: 4rem;
	border-radius: 12rem 12rem 0 0;
	overflow: hidden;
	padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me > img {
	width: 100%;
}

/*======== Scrooll down ==== */

.scroll__down {
	position: absolute;
	right: -2.3rem;
	bottom: 5rem;
	transform: rotate(90deg);
	font-weight: 300;
	font-size: 0.9rem;
}

/*================ Media Queries - Tablets ==========*/

@media screen and (max-width: 1024px) {
	header {
		height: 68vh;
	}

	/* @keyframes shine {
		0% {
			background-position: 0;
		}
		60% {
			background-position: 1000px;
		}
		100% {
			background-position: 1000px;
		}
	} */
}

/*================ Media Queries - Phones ==========*/

@media screen and (max-width: 600px) {
	header {
		height: 100vh;
	}

	.header__socials,
	.scroll__down {
		display: none;
	}

	/* @keyframes shine {
		0% {
			background-position: 0;
		}
		60% {
			background-position: 300px;
		}
		100% {
			background-position: 300px;
		}
	} */
	.text-animated {
		letter-spacing: normal;
		animation: none;
	}
}
