footer {
	background: var(--color-primary);
	padding: 3rem 0;
	font-size: 0.9rem;
	margin-top: 7rem;
	text-align: center;
}

footer a {
	color: var(--color-bg);
}
footer a:hover {
	color: var(--color-bg-variant);
	text-decoration: overline;
}

.footer__logo {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 2rem;
	display: inline-block;
}

.permalinks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	margin: 0 auto 3rem;
}

.footer__socials {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 4rem;
}

.footer__socials a {
	background: var(--color-bg);
	color: var(--color-white);
	padding: 0.8rem;
	border-radius: 0.7rem;
	display: flex;
	border: 1px solid transparent;
	transition: var(--transition);
}

.footer__socials a:hover {
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(2px);
	color: var(--color-bg);
	border-color: var(--color-bg);
}

.footer__copyright {
	display: flex;
	justify-content: center;
	margin-bottom: 6rem;
	color: var(--color-bg);
}

/*================ Media Queries - Phones ==========*/

@media screen and (max-width: 600px) {
	.permalinks {
		flex-direction: column;
		gap: 1.5rem;
	}
	.footer__socials {
		margin-bottom: 2.5rem;
	}
}
